nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 20px;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav li:hover {
    background-color: lightgray;
    padding: 0 10px;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: darkkhaki;
    padding: 5px;
}

nav>ul>li:hover>ul {
    display: block;
}

.dropdown li {
    margin: 0;
}

p {
    font-size: 20px;
}